.custom-form {
  width: 100%;
  padding: 1em;
  border: 1px solid white;
  border-radius: 5px;
  & label {
    color: white;
  }
  & input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: rgb(255, 193, 7);
    outline: 0;
  }
  & p {
    margin-top: 0.5em;
    color: goldenrod;
  }
}
